.register-father {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/img/login/login1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: fixed;
  top: 0px;
  left: 0px;
}

.register-content {
  width: 20%;
  height: 40%;
  background-color: #fff;
  position: relative;
  top: 25%;
  left: 40%;
  border-radius: 30px;
}

.content-title {
  text-align: center;
  padding: 6%;;
  color: #3079be;
  border-bottom: 1px solid #ccc;
}

.el-input {
  margin-left: 15px;
}

.loginBtn {
  width: 80%;
  margin-left: 10%;
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
  border-radius: 30px;
}

.loginBtn:hover {
  color: #409eff;
  border-color: #c6e2ff;
  background-color: #ecf5ff;
}

/* 注册按钮下面的超链接样式 */
.login-p {
  margin-top: 15px;
}

.login-p-span {
  padding-left: 10%;
  font-size: 14px;
}

.login-p-div {
  float: right;
  padding-right: 10%;
  font-size: 14px;
}

.txt {
  text-decoration: none;
}

.txt:hover {
  color: red;
}
