<template>
    <h1>我是{{message}}</h1>
</template>

<script>
    export default {
        name: "Java",
        data() {
            return {
                message: "java"
            }
        },
        methods: {},
        mounted() {
        },
        created() {
        }
    }
</script>

<style scoped>

</style>