<template>
    <div class="friendsChain">
        友链区域
    </div>
</template>

<script>
    export default {
        name: "FriendsChain",
        data() {
            return {}
        },
        methods: {},
        mounted() {
        },
        created() {
        }
    }
</script>

<style scoped>

</style>