<template>
    <el-container>
        <loading></loading>
        <el-header><common-header></common-header></el-header>
        <el-container>
            <el-main>
                <router-view />
                <BackToTop></BackToTop>
            </el-main>
        </el-container>
        <Bottom></Bottom>
    </el-container>
</template>

<script>
    import loading from "../components/loading";
   // import Bottom from "./bottom/Bottom";
   import Bottom from "../components/common/CommonFooter";
    // import BackToTop from '../components/BackToTop/index';
    import BackToTop from '../components/BackToTop/back-top';
    import CommonHeader from "../components/common/CommonHeader";
    export default {
        name: "Main",
        data() {
            return {
            }
        },
        methods: {},
        mounted() {
        },
        created() {
        },
        components:{
            CommonHeader,
            BackToTop,
            Bottom,loading
        }
    }
</script>

<style scoped>
.el-header {
    padding: 0;
}

.el-main {
    background-color: rgb(244, 244, 244);
    min-height: 960px;
}
</style>
