<template>
    <div class="header">
        <el-menu
                background-color="#545c64"
                text-color="#fff"
                active-text-color="#ffd04b"
                :default-active="activeIndex"
                router
                mode="horizontal"
                class="el-menu-app"
                @select="handleSelect"
        >
            <NavMenu :navMenus="menuData"></NavMenu>
        </el-menu>

        <div class="content">
            <div class="content-top">
                <h2><span color="#000000" size="6" face="华文行楷">Madison</span></h2>
                <span>你好</span>
            </div>
            <div class="content-body">
                <div class="content-left">
                    MainLeft
                </div>
                <div>
                    <router-view></router-view>
                </div>
                <div class="content-right">
                    MainRight
                </div>
            </div>
        </div>
        <Bottom></Bottom>
        <BackToTop></BackToTop>
        <router-view></router-view>
    </div>
</template>

<script>
    import BackToTop from '../../components/BackToTop/index';
    import Bottom from "../bottom/Bottom";
    import NavMenu from "../../views/navMenu/NavMenu";
    export default {
        name: "Home",
        data() {
            return {
                activeIndex: this.$route.path,
                menuData: [
                    {
                        //一级
                        entity: {
                            id: 0,
                            name: "home",
                            icon: "el-icon-s-home",
                            alias: "首页"
                        }
                    },
                    {
                        //一级
                        entity: {
                            id: 1,
                            name: "notes",
                            icon: "el-icon-message",
                            alias: "笔记"
                        },
                        //二级
                        childs: [
                            {
                                entity: {
                                    id: 3,
                                    name: "/notes/java",
                                    icon: "el-icon-loading",
                                    alias: "java",
                                    value: { path: "/notes/java" }
                                }
                            },
                            {
                                entity: {
                                    id: 4,
                                    name: "/notes/C",
                                    icon: "el-icon-bell",
                                    alias: "C&C++",
                                    value: "/notes/C"
                                }
                            },
                            {
                                entity: {
                                    id: 2,
                                    name: "/notes/python",
                                    icon: "el-icon-edit",
                                    alias: "python",
                                    value: "/notes/python"
                                }
                            },
                            {
                                entity: {
                                    id: 5,
                                    name: "/notes/database",
                                    icon: "el-icon-mobile-phone\r\n",
                                    alias: "数据库",
                                    value: "/notes/database"
                                }
                            }
                        ]
                    },
                    {
                        //一级
                        entity: {
                            id: 6,
                            name: "userManage",
                            icon: "el-icon-news",
                            alias: "三级菜单"
                        },
                        //二级
                        childs: [
                            {
                                entity: {
                                    id: 7,
                                    name: "accountManage",
                                    icon: "el-icon-phone-outline\r\n",
                                    alias: "帐号管理",
                                    value: ""
                                },
                                //三级
                                childs: [
                                    {
                                        entity: {
                                            id: 14,
                                            name: "emailManage",
                                            icon: "el-icon-sold-out\r\n",
                                            alias: "邮箱管理",
                                            value: "/content/email"
                                        }
                                    },
                                    {
                                        entity: {
                                            id: 13,
                                            name: "passManage",
                                            icon: "el-icon-service\r\n",
                                            alias: "密码管理",
                                            value: "/content/pass"
                                        }
                                    }
                                ]
                            },
                            {
                                entity: {
                                    id: 8,
                                    name: "integralManage",
                                    icon: "el-icon-picture",
                                    alias: "积分管理",

                                    value: "/user/integral"
                                }
                            }
                        ]
                    },
                    {
                        //一级
                        entity: {
                            id: 40,

                            name: "contentManage",
                            icon: "el-icon-rank",
                            alias: "四级菜单"
                        },
                        //er级
                        childs: [
                            {
                                entity: {
                                    id: 41,
                                    name: "classifyManage2",
                                    icon: "el-icon-printer",
                                    alias: "分类管理"
                                },
                                //三级
                                childs: [
                                    {
                                        entity: {
                                            id: 42,
                                            name: "classifyManage3",
                                            icon: "el-icon-printer",
                                            alias: "分类管理"
                                        },
                                        //四级
                                        childs: [
                                            {
                                                entity: {
                                                    id: 43,
                                                    name: "classifyManage4",
                                                    icon: "el-icon-printer",
                                                    alias: "分类管理",
                                                    value: "/content/classify"
                                                }
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        //一级
                        entity: {
                            id: 44,
                            name: "login",
                            icon: "",
                            alias: "登陆"
                        }
                    },
                    /*                  {
                                          //一级
                                          entity: {
                                              id: 45,
                                              name: "pictureDed",
                                              icon: "el-icon-s-home",
                                              alias: "图床"
                                          }
                                      },
                                      {
                                          //一级
                                          entity: {
                                              id: 46,
                                              name: "networkDisk",
                                              icon: "el-icon-s-home",
                                              alias: "我的网盘"
                                          }
                                      },
                                      {
                                          //一级
                                          entity: {
                                              id: 47,
                                              name: "donate",
                                              icon: "el-icon-s-home",
                                              alias: "捐赠"
                                          }
                                      },
                                      {
                                          //一级
                                          entity: {
                                              id: 48,
                                              name: "translate",
                                              icon: "el-icon-s-home",
                                              alias: "google翻译"
                                          }
                                      },
                                      {
                                          //一级
                                          entity: {
                                              id: 49,
                                              name: "message",
                                              icon: "el-icon-message",
                                              alias: "留言"
                                          }
                                      },
                                      {
                                          //一级
                                          entity: {
                                              id: 50,
                                              name: "about",
                                              icon: "el-icon-s-home",
                                              alias: "关于"
                                          }
                                      },*/
                ]
            };
        },
        methods: {
            handleSelect(key, keyPath){
                console.log(key, keyPath);
            }
        },
        mounted() {
            this.$router.push('/');
            let start = window.location.href.lastIndexOf('/');
            let path = window.location.href.slice(start+1);
            this.activeIndex = path;
        },
        created() {
        },
        components:{
            NavMenu,
            Bottom,
            BackToTop
        }
    }
</script>

<style scoped>
    .header {
        /*height: 100%;*/
        /*开启flex布局*/
        display: flex;
        /*flex-wrap:默认不换行-nowrap 换行-wrap*/
        /*flex-wrap: nowrap;*/
        /*flex-direction: 默认row - 主轴即x轴方向  column- 副轴即y方向*/
        /*flex-direction: column;*/
        flex-flow: column;
        /*justify-content(主轴): center-居中  flex-start-左对齐布局   flex-end-右对齐布局 space-between-两边对齐中间均匀分布 space-evenly-两边空隙跟中间空隙一样均匀分布 space-around-两边空隙宽度是中间的一半*/
        /*justify-content: space-evenly;*/
        /*align-content(副轴): center-居中  flex-start-左对齐布局   flex-end-右对齐布局 space-between-两边对齐中间均匀分布 space-evenly-两边空隙跟中间空隙一样均匀分布 space-around-两边空隙宽度是中间的一半*/
        /*align-content: space-between;*/
        /*align-items:控制本身所在行的布局  center-居中 stretch整个高度*/
        /*align-items: stretch;*/

        /*flex-shrink:表示flex布局中的 容器压缩情况下 某一个div的压缩比例*/
        /*flex-shrink: 2;*/
        /*flex-grow: 表示flex布局中的 容器变大情况下 某一个div的放大比例*/
        /*flex-grow: 1;*/
        /*flex-basis: 设置flex基础的长度或者宽度  不用flex布局的时候的width跟height*/
        /*flex-basis: 180px;*/
        /*order: 默认情况下 order:0   顺序属性 1的话会拍到flex布局的最后面*/
        min-height: 100vh; /*关键*/
    }

    .content {
        /* 将 flex-grow 设置为1，该元素会占用全部可使用空间
而其他元素该属性值为0，因此不会得到多余的空间*/
        /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
        flex: 1 0 auto;


        display: flex;
        /*flex-direction: row;*/
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        /*justify-content: space-around;*/
    }
    .content-top {
        width: 100%;
        height: 200px;
        background: rgba(66, 64, 64, .2);
        border: none;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content-top p {
        color: #000000;
    }
    .content-top h2 span {
        color: #000000;
        font-family: 华文行楷;
        font-size: xx-large;
    }
    .content-top span {
        color: #000000;
        font-family: 华文行楷;
        font-size: 25px;
        letter-spacing: 1px;
        padding-top: 20px;
    }
    .content-body {
        display: flex;
        flex-flow: row;
        width: 100%;
        height: 1000px;
        align-items: stretch;
        justify-content: space-between;
    }
    .content-left{
        width: 15%;
        background: #00FFFF;
    }
    .content-right{
        width: 15%;
        background: #00FFFF;
    }
</style>