<template>
  <div class="footer">
    <el-footer>
      <p>Copyright©龙氏集团
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <img src="src/assets/img/icp/icp.png" alt="">&nbsp;
        <a href="http://www.beian.miit.gov.cn/" target="_blank">浙ICP备19049666号-1</a>
      </p>
    </el-footer>
  </div>
</template>
<script>
  export default {
    name: "Bottom"
  };
</script>
<style lang="scss" scoped>
  /*
  position: static;(没有定位)
    static会根据html排版的流程（flow）移动
    默认值。没有定位，元素出现在正常的流中（忽略(也就是说会失效) top, bottom, left, right 或者 z-index 声明）
 */
  /*
   position: relative;(相对定位)
     relative跟static很相似，会根据html排版的流程（flow）移动，但是比static多了top, bottom, left, right的设定，除了html定位之后，还可以通过top, bottom, left, right调整位置。
     relative最重要的一个功能：relative里面的absolute元素会根据relative的位置去定位（就是relative里面的absolute元素会把relative元素当作父元素）
     relative生成相对定位的元素，相对于其正常位置进行定位
 */

  /*
    position: absolute;(绝对定位)
      absolute不会根据html排版的流程（flow）移动（绝对位置）
      absolute生成绝对定位的元素，相对于 static 定位以外的第一个父元素进行定位。元素的位置通过 "left", "top", "right" 以及 "bottom" 属性进行规定。
  */
  /*
  position: fixed;(绝对定位)
    fixed跟absolute很相似
    fixed跟absolute不同点：1.fixed会定位到荧屏中的固定位置（所以既是页面滚动也会一直保存那个位置不变）。
                          2.如果fixed元素有设定top, bottom, left, right的属性，fixed即使放到relative里面,也不会根据relative去定位，而会根据页面即body去定位（会脱离relative转而根据body定位）
    absolute生成绝对定位的元素，相对于 static 定位以外的第一个父元素进行定位。元素的位置通过 "left", "top", "right" 以及 "bottom" 属性进行规定。
 */
  /*
  position: sticky;
    页面出现滚轮，(需要设置top:0)position位sticky的div会在滚轮滚动的过程中，当sticky贴到顶部的时候，会固定顶部。相当于吸附效果。
  */
/*  .el-footer {
    !*脱离文档流*!
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 40px;
    !*background-color: #fafafa;*!
    background: rgba(35, 40, 45, 1);
    color: #333;
    text-align: center;
    height: auto !important;
  }
  .el-footer p{
    color: rgba(255,255,255,.3);
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: uppercase;
  }*/
/*  .footer{
    display: flex;
    justify-content: center;
    !* 和 header 一样，footer 也采用固定高度*!
    !* 0 flex-grow, 0 flex-shrink, auto flex-basis *!
    flex: 0 0 auto;
  }*/
  .el-footer {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      flex: 0 0 auto;
      background: rgba(35, 40, 45, 1);
  }

  .el-footer p {
      color: rgba(255, 255, 255, .5);
      font-family: -apple-system,BlinkMacSystemFont,opensans,Optima,"Microsoft Yahei",sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 300;
    a {
      color: rgba(255, 255, 255, .5);
    }
  }
</style>
