<template>
    <el-menu
            :collapse="isCollapse"
            :default-active="$route.path"
            class="el-menu-vertical-demo"
            mode="horizontal"
    >
        <div class="el-menu-logo">
<!--            <h3 v-show="isCollapse">龙少</h3>-->
<!--            <h3 v-show="!isCollapse">tinygray</h3>-->
        </div>
        <el-menu-item :index="item.path" v-for="item in noChildren" :key="item.path" @click="clickMenu(item)">
<!--            <i :class="'el-icon-' + item.icon"></i>-->
            <span slot="title">{{ item.label }}</span>
        </el-menu-item>
        <el-submenu :index="item.label" v-for="(item, index) in hasChildren" :key="index">
            <template slot="title">
<!--                <i :class="'el-icon-' + item.icon"></i>-->
                <span slot="title">{{ item.label }}</span>
            </template>
            <el-menu-item-group>
                <el-menu-item :index="subItem.path" v-for="(subItem, subIndex) in item.children" :key="subIndex"
                              @click="clickMenu(subItem)">
<!--                    <i :class="'el-icon-' + subItem.icon"></i>-->
                    <span slot="title">{{ subItem.label }}</span>
                </el-menu-item>
            </el-menu-item-group>
        </el-submenu>
<!--        <div>登录</div>-->
    </el-menu>
</template>

<script>
    export default {
        computed: {
            noChildren() {
                return this.menu.filter(item => !item.children)
            },
            hasChildren() {
                return this.menu.filter(item => item.children)
            },
            isCollapse() {
                return this.$store.state.isCollapse
            },
            menu() {
                return this.$store.state.menu
            }
        },
        data() {
            return {}
        },
        methods: {
            clickMenu(item) {
                this.$router.push({name: item.name})
            }
        }
    }
</script>

<style lang="scss" scoped>

    .el-menu-vertical-demo {
        /*导航栏吸附效果*/
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        /*************/
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
       /* float:right;
        margin-right: 8.54%;*/

    }

    /* 点击出来的下划线进行隐藏 */
    .el-menu-item.is-active {
        border-bottom: none !important;
        /*color: rgba(0,0,0,0);*/
    }

    /* 整体的下划线进行隐藏 */
    .el-menu.el-menu--horizontal {
        border-bottom: none;
    }

    /* 导航栏的间距等样式 */
    .el-menu-item {
        /*padding: 0 32px;*/
        /*font-size: 16px;*/
    }

    /* 点击出来的下划线动效残留进行隐藏 */
    .el-menu--horizontal > .el-menu-item {
        border-bottom: none;
    }

    /* 点击以后的背景色进行隐藏 */
    /*  .el-menu--horizontal>.el-menu-item:not(.is-disabled):focus, .el-menu--horizontal>.el-menu-item:not(.is-disabled):hover, .el-menu--horizontal>.el-submenu .el-submenu__title:hover {
          background-color: rgba(0,0,0,0);
      }*/
    .el-menu--horizontal ::v-deep > .el-submenu .el-submenu__title {
        border-bottom: none !important;
    }
</style>