<template>
    <h1>欢迎来到留言区</h1>
</template>

<script>
    export default {
        name: "Message",
        data() {
            return {}
        },
        methods: {},
        mounted() {
        },
        created() {
        }
    }
</script>

<style scoped>

</style>