<template>
    <div id="app">
        <router-view></router-view>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                menus: [
                    {
                        // icon: "s-home",
                        id: 4,
                        label: "首页",
                        name: "home",
                        path: "/home",
                        pid: 0,
                        url: "home/home"
                    }, {
                        // icon: "shopping-cart-full",
                        id: 5,
                        label: "留言",
                        name: "message",
                        path: "/message",
                        pid: 0,
                        url: "message/Message"
                    }, {
                        id: 6,
                        label: "友链",
                        name: "friendsChain",
                        path: "/friendsChain",
                        pid: 0,
                        url: "friendsChain/FriendsChain"
                    }, {
                        id: 7,
                        label: "关于",
                        name: "about",
                        path: "/about",
                        pid: 0,
                        url: "about/About"
                    }
                    /* {
                        // icon: "setting",
                        id: 1,
                        label: "系统管理",
                        name: "",
                        path: "",
                        pid: 0,
                        url: "",
                        children: [
                            {
                                // icon: "user-solid",
                                id: 2,
                                label: "用户管理",
                                name: "user",
                                path: "/user",
                                pid: 1,
                                url: "UserManage/UserManage"
                            }, {
                                // icon: "user",
                                id: 3,
                                label: "角色管理",
                                name: "role",
                                path: "/role",
                                pid: 1,
                                url: "RoleManage/RoleManage"
                            }
                        ]
                    }*/
                ]
            };
        },
        created() {
            // this.$router.push('/index');
            // console.log(Auth.getMenus());
            //先清除 房子重复加入
            this.$store.commit('clearMenu')
            //再加入
            this.$store.commit('setMenu', this.menus);
            //添加动态路由
            this.$store.commit('addMenu', this.$router)
            // console.log(this.$router);
            //跳转到首页
            this.$router.push({name: 'home'})
        },
        components: {

        }
    }
</script>
<style lang="less">
    /*body {
    !*    background-image: url("./assets/bgimg/background.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;*!
        margin: 0;
        padding: 0;
        !*鼠标光标样式*!
        cursor: auto;
        !* 解决html下方有滚动条问题 *!
        width: 100%;
        height: 100%;
    }
    html {
        height: 100%;
    }*/
    /*.el-menu-app {
        display: flex;
        justify-content: center;
    }*/
    /*!*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*!
    ::-webkit-scrollbar {
        width: 5px;
        height: 10px;
        background-color: #F5F5F5;
    }
    !*定义滚动条轨道 内阴影+圆角*!
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
    }
    !*定义滑块 内阴影+圆角*!
    ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: #555;
    }*/
</style>
